body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 80px 0 0 0; /* Add top padding to prevent content from hiding behind the fixed header */
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed; /* Fix the position of the header */
    top: 0;
    width: 100%;
    z-index: 100; /* Ensure the header is always on top */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.form-group {
    margin-bottom: 20px; /* Add bottom margin to each form group */
}

/*Css for slider in top bar*/
.menu-slider-container {
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 0.5rem;
    background-color: #00FFF1;
    border-radius: 6rem;
    position: relative;
}
.menu-slider-container .menu-slider-icon {
    border: none;
    background: transparent;
    position: relative;
    z-index: 2;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    cursor: pointer;
    transition: all 250ms;
    margin: 0 1rem 0 0;
}

.menu-slider-container .menu-slider-icon.aktiv img.aktiv {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
}

.menu-slider-container .menu-slider-icon.aktiv img.normal {
    opacity: 0;
}
.menu-slider-container .menu-slider-icon:last-child {
    margin: 0 0 0 0;
}

.menu-slider-container .menu-slider-icon:focus {
    outline: none;
}

.menu-slider-container .menu-slider-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    transition: all 250ms; }
    .menu-slider-container .menu-slider-icon img.aktiv {
        opacity: 0;
    }
    .menu-slider-container .menu-slider-icon img.normal {
        opacity: 1;
    }

.menu-slider-container .menu-slider-bg {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 1;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: #0c1016;
    transition: all 250ms;
}